<!DOCTYPE html>
<html lang="de-de">
<head>
    <meta charset="UTF-8">
    <title>SmartHomeWeb - {{ title }}</title>
    <!--
    <link rel="stylesheet" href="../../static/web/styles/base.css">
    -->
    <link rel="stylesheet" href="../../static/web/styles/form.css">
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <!--
        https://getbootstrap.com/docs/5.3/getting-started/javascript/#data-attributes

    -->
</head>

<body>
    <div class="humids">
        <div class="container mt-5">
            <div class="center-form">
                <h1 class="form-title">Luftfeuchtigkeit:</h1>
                <div class="mb-3">
                    <form method="post" action="">
                        {% csrf_token %}
                        {{ form }}
                        <br>
                        <div class="text-center">
                            <input type="submit" class="btn btn-primary" value="Filter...">
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="container mt-5 col-8 align-self-center">
            <h1 class="mb-4 text-center">Sensor Data</h1>
            <table class="table table-striped text-center table-hover">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>luftfeuchte</th>
                        <th>Raum</th>
                        <th>Datum</th>
                        <th>Sensor ID</th>
                        <th>Sensor Code</th>
                        <th>Sensor Versionsnummer</th>
                    </tr>
                </thead>
                <tbody>
                    {% for h in humidslist %}
                    <tr>
                        <td>{{ h.id }}</td>
                        <td>{{ h.luftfeuchte }}</td>
                        <td>{{ h.sensor.sen_raum}}</td>
                        <td>{{ h.datum }}</td>
                        <td><a href="{{h.sensor.id}}/">
                            {{h.sen}}
                            Details...
                        </a></td>
                        <td>{{ h.sensor.sen_code}}</td>
                        <td>{{ h.sensor.sen_versionsnummer}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>