<!DOCTYPE html>
<html lang="de-de">
<head>
    <meta charset="UTF-8">
    <title>SmartHomeWeb - Startseite</title>
    <!--
    <link rel="stylesheet" href="../../static/web/styles/base.css">
    <link rel="stylesheet" href="../../static/web/styles/smarthomestyles_static.css">
    -->
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <!--
        https://getbootstrap.com/docs/5.3/getting-started/javascript/#data-attributes

    -->
</head>

<body>
    <div class="humids">
        <h1>Luftfeuchtigkeit:</h1>
        <div class="mb-3">
            <form method="post" action="">
                {% csrf_token %}
                {{ form }}
                <br>
                <input type="submit" value="Filter...">
            </form>
        </div>
        <div class="container mt-5">
            <h1 class="mb-4">Sensor Data</h1>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>luftfeuchte</th>
                        <th>Raum</th>
                        <th>Datum</th>
                        <th>Sensor ID</th>
                    </tr>
                </thead>
                <tbody>
                    {% for h in humidslist %}
                    <tr>
                        <td>{{ h.id }}</td>
                        <td>{{ h.luftfeuchte }}</td>
                        <td>{{ h.sensor.sen_raum}}</td>
                        <td>{{ h.datum }}</td>
                        <td><a href="{{h.sensor.id}}/">
                            {{h.sen}}
                            Details...
                        </a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>