<!DOCTYPE html>
<html lang="de-de">

<head>
    <meta charset="UTF-8">
    <title>SmartHomeWeb - {{ title }}</title>
    <!--
    <link rel="stylesheet" href="../../static/web/styles/base.css">
    -->
    <link rel="stylesheet" href="../../static/web/styles/form.css">
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <!--
        https://getbootstrap.com/docs/5.3/getting-started/javascript/#data-attributes

    -->
</head>

<body>
    <div class="container mt-5 col-8 align-self-center">
        <h1 class="mb-4 text-center">Sensor Data</h1>
        <table class="table text-center table-hover">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Luftdruck</th>
                    <th>Raum</th>
                    <th>Datum</th>
                    <th>Sensor ID</th>
                </tr>
            </thead>
            <tbody>
                {% for p in pressList %}
                <tr>
                    <td>{{ p.id }}</td>
                    <td>{{ p.luftdruck }}</td>
                    <td>{{ p.sensor.sen_raum}}</td>
                    <td>{{ p.datum }}</td>
                    <td><a href="{{p.sensor.id}}/">
                        {{p.sen}}
                        Details...
                    </a></td>
                    
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>

</html>